---
import Layout from '../layouts/Layout.astro';
import Landingheader from '../components/landingheader.astro';
import Servicios from '../components/Servicios.astro';
import Productos from '../components/Productos.astro';
import AtencionCasa from '../components/AtencionCasa.astro';
import Descuentos from '../components/Descuentos.astro';
import Domicilios from '../components/Domicilios.astro';
import Seccion from '../components/seccion.astro';
---

<Layout title='Veterinaria PETGOLD'>

	<Landingheader />

	<main 
	class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">
		
	  <div class="snap-center">
		<Seccion />
	  </div>
	  <div class="snap-center">
		<Servicios />
	  </div>
	  <div class="snap-center">
		<Productos />
	  </div>
	  <div class="snap-center">
		<AtencionCasa />
	  </div>
	  <div class="snap-center">
		<Descuentos />
	  </div>
	  <div class="snap-center">
		<Domicilios />
	  </div>
	</main>
</Layout>