---
import Section from "./section.astro";
---
<Section
  title="Productos"
  subtitle="Los mejores Productos, a los mejores precios"
  color="black"
  id="Productos"
>
  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
      class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
      href="#"
    >
      Perros</a
    >
    <a
      class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
      href="#"
    >
      Gatos</a
    >
  </div>

  <img
    slot="background"
    alt="Productos"
    class="h-full w-full object-cover object-center"
    src="public/Productos.jpg" 
    id="productospage"
  />
</Section>

<script>
  function isEdge() {
    if (
      navigator.userAgent.indexOf("Edge") > -1 ||
      navigator.userAgent.indexOf("Edg") > -1
    ) {
      return true;
    } else {
      return false;
    }
  }

  let imageElement = document.querySelector("#productospage") as HTMLImageElement; // TypeScript

  if (isEdge()) {
    imageElement.src = "Productos.webp";
  } else {
    imageElement.src = "Productos.jpg";
  }
</script>